{% load static %}
{% load i18n %}
{% load account socialaccount %}

{% block content %}

<link rel="stylesheet" href="{% static 'css/style.css' %}">

<div class="signin-container"
    style="
        max-width: 450px;
        margin: auto;
        padding-top: 20px;">
    <div class="signin-row">
        <h3>{% trans "Sign In" %}</h3>

        <p>{% blocktrans %}Welcome to the Pinterest 95. {% endblocktrans %}</p>
    </div>
    <div class="signin-row">
        <form class="login" method="POST" action="{% url 'account_login' %}">
            {% csrf_token %}
            {{ form.as_p }}
            {% if redirect_field_value %}
            <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
            {% endif %}
            <button class="btn" type="submit">{% trans "Sign In" %}</button>
        </form>
    </div>
</div>
{% endblock %}