{% extends "base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Change Password" %}{% endblock head_title %}

{% block content %}
<div id="changepass-container" 
    class="PaLe"
    style="max-width: 500px; padding: 15px; margin: auto;">
    <div class="signin-row">
        <h1>{% trans "Change Password" %}</h1>
    </div>

    <div class="signin-row">
        <form id="password-change" class="login" 
            method="POST" 
            action="{% url 'account_change_password' %}">
            {% csrf_token %}
            {{ form.as_p }}
            <button class="btn" type="submit" name="action">{% trans "Change Password" %}</button>
            <a href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
        </form>
    </div>
</div>
{% endblock content %}