{% load custom_filters %}

{% for post in page_obj %}
<div class="grid-item">
    <div class="item-content">
        <a class="grid-image" href="{% url 'post_detail' post.id %}">
            <img src="{{ post.image.url|force_https }}?w=500&h=500&c=fit&q_auto,f_auto&cacheControl=public,max-age=31536000"
                srcset="
                    {{ post.image.url|force_https }}?w=320&h=320&c=fit&q_auto,f_auto&cacheControl=public,max-age=31536000 320w,
                    {{ post.image.url|force_https }}?w=500&h=500&c=fit&q_auto,f_auto&cacheControl=public,max-age=31536000 500w,
                    {{ post.image.url|force_https }}?w=800&h=800&c=fit&q_auto,f_auto&cacheControl=public,max-age=31536000 800w"
                sizes="(max-width: 320px) 320px,
                        (max-width: 500px) 500px,
                        (max-width: 800px) 800px"
                 alt="{{ post.title }}">
        </a>
    </div>
</div>
{% endfor %}

{% if page_obj.has_next %}
    {% if page_obj.number == 1 %}
        <span id="load-next-page"
             hx-trigger="after-masonry"
             hx-get="{% url 'home' %}?page=2"
             hx-swap="afterend">
        </span>
    {% else %}
        <span id="load-next-page"
             hx-trigger="revealed"
             hx-get="{% url 'home' %}?page={{ page_obj.number|add:1 }}"
             hx-swap="afterend">
        </span>
    {% endif %}
{% endif %}