{% load static %}
<script>
    resizeAllGridItems();
</script>
{% for post in page_obj %}
{% if forloop.last %}
<div 
    class="grid-item" 
    hx-trigger="revealed" 
    hx-get="{% url 'home' %}?page={{ page_obj.number|add:1 }}"
    hx-swap="afterend">
    <div class="item-content">
        <a class="grid-image" href="{% url 'post_detail' post.id %}">
            <img src="{{ post.image.url }}" alt="{{ post.title }}"/>
        </a>
        <div class="grid-item-overlay"> 
            <a class="div-link" href="{% url 'post_detail' post.id %}"></a>
            <a class="btn overlay-save-btn">Save</a>
        </div>
    </div>
</div> 

{% else %}
<div class="grid-item">
    <div class="item-content">
        <a class="div-link" href="{% url 'post_detail' post.id %}">
            <img src="{{ post.image.url }}" alt="{{ post.title }}"/>
        </a>
        <div class="grid-item-overlay">
            <a class="div-link" href="{% url 'post_detail' post.id %}"></a> 
            <a class="btn overlay-save-btn">Save</a>
        </div>
    </div>
</div> 
{% endif %}
{% endfor %}
<script>
    resizeAllGridItems();
</script>