{% extends 'base.html' %}
{% block content %}
{% load static %}
{% load crispy_forms_tags %}
{% load custom_filters %}
{% url 'account_login' as login_url %}

<div id="image-detail-container">
    <div id="image-detail-container-inner">
        <div class="image-container">
            <img src="{{ post.image.url }}" alt="{{ post.title }}" />
        </div>
        <div class="details-container">
            <h2 id="post-title" class="text-wrap">{{ post.title }}</h2>

            <div class="det-container-inner {% if post.description %}{% else %}hidden{% endif %}">
                <p class="post-description text-wrap">{{ post.description }}</p>
            </div>

            <div class="det-container-inner"
                style="justify-content: space-between;">
                <div id="social-btns">
                    <div>
                        <button 
                            class="btn {% if user in post.liked_by.all %}active{% endif %}" 
                            id="like-button"
                            data-post-id="{{ post.id }}">
                            {% if user in post.liked_by.all %}Liked{% else %}Like{% endif %}</button>
                    </div>
                    <!-- Comment icon and count outside the modal -->
                    <div>
                        <span id="comment-icon" style="cursor:pointer;">
                            <button class="btn">Comment</button>
                        </span>
                    </div>
                    <div>
                        <button 
                            class="save-btn btn" 
                            id="save-btn" 
                            data-post-id="{{ post.id }}"
                            data-authenticated="{{ user.is_authenticated }}"
                            >Save</button>
                    </div>
                </div>
                <div id="delete-btn-container">
                    {% if user.is_authenticated and post.user == user %}
                        <button id="delete-post-btn" class="btn delete-post-btn">Delete</button>
                    {% endif %}
                </div>
            </div>

            <div class="det-container-inner">
                <img id="like-icon" src="/static/icons/heart.svg">
                <span id="like-count">{{ post.likes }}</span>
            </div>

            <div class="det-container-inner"
                style="justify-content: space-between;">
                <div id="user-icon-container">
                    <a href="{% url 'profile_page' post.user.username  %}">
                        <div class="user-icon"
                            style="background-image: url('{{ post.user.profile.profile_image.url }}');
                                background-size: cover;
                                background-position: center;">
                        </div>
                    </a>
                    <div>
                        <a href="{% url 'profile_page' post.user.username %}">{{ post.user }}</a>
                    </div>
                </div>
                <div id="image-tags-container">
                    {% for tag in tags %}
                    <span class="image-tag">{{ tag.tag_name }}</span>
                    {% endfor %}
                </div>
            </div>

            <div class="det-container-inner" style="flex-direction: column;">
                <!-- Comment icon and count outside the modal -->
                <div>
                    {% if comment_count == 0 %}
                    <h3 class="comment-title">No comments yet</h3>
                    {% elif comment_count == 1 %}
                    <h3 class="comment-title">1 Comment:</h3>
                    {% else %}
                    <h3 class="comment-title">{{ comment_count }} Comments:</h3>
                    {% endif %}
                </div>

                <!-- Latest comment -->
                <div>
                    {% if comments|length > 0 %}
                    <div class="latest-comment-container">
                        {% for comment in comments|slice:":3" %}
                        <p style="margin-bottom: 4px;">
                            <strong>{{ comment.author }}</strong> {{ comment.body }}
                        </p>
                        {% endfor %}
                        <div>
                            <span id="view-all">
                                View all
                                {% if comment_count > 0 %}
                                {{ comment_count }} comments
                                {% endif %}
                            </span>
                        </div>
                    </div>
                    {% endif %}
                </div>

                <!-- Modal for displaying comments -->
                <div id="comment-modal">
                    <div class="modal-content">
                        <span id="close-modal" class="close-btn">&times;</span>

                        <div>
                            {% if comment_count == 0 %}
                            <h3 class="comment-title">No comments yet</h3>
                            {% else %}
                            <h3 class="comment-title">{{ comment_count }} Comments:</h3>
                            {% endif %}
                        </div>

                        <!-- Comments are displayed here -->
                        <div id="comments-container" data-post-id="{{ post.id }}">
                            {% for comment in comments %}
                            <div class="comment" data-comment-id="{{ comment.id }}">
                                <div class="comment-user-container">
                                    <div class="commenter-profile-img"
                                        style="background-image: url('{{ comment.author.profile.profile_image.url }}');
                                                background-size: cover;
                                                background-position: center;">
                                    </div>
                                    <div>
                                        <p class="comment-username"><strong>{{ comment.author }}</strong> {{ comment.created_on|time_ago }}</p>
                                        <div>
                                            <p class="comment-body">{{ comment.body }}</p>
                                        </div>
                                    </div>
                                </div>
                                {% if user.is_authenticated and comment.author == user %}
                                <div class="comment-btns-container">
                                    <span>
                                        <button 
                                            class="edit-comment-btn" 
                                            data-comment-body="{{ comment.body|escape }}" 
                                            data-comment-id="{{ comment.id }}">
                                            Edit
                                        </button>
                                    </span>
                                    <span class="comment-close-btn" comment_id="{{ comment.id }}" post_id="{{ post.id }}">&times;</span>
                                </div>
                                {% elif user.is_authenticated and post.user == user %}
                                <div class="comment-btns-container">
                                    <span class="comment-close-btn" comment_id="{{ comment.id }}" post_id="{{ post.id }}">&times;</span>
                                </div>
                                {% endif %}
                            </div>
                            {% endfor %}
                        </div>

                        <!-- Creating New Comments -->
                        <div id="comment-form-container">
                            {% if user.is_authenticated %}
                            <form id="commentForm" method="POST">
                                {% csrf_token %}
                                {{ comment_form.body }}
                                <input type="hidden" id="edit-comment-id" name="comment_id" value="">
                                <div>
                                    <button id="submitButton" class="btn" type="submit">
                                        <img src="/static/icons/up-arrow.svg">
                                    </button>
                                </div>
                            </form>
                            {% else %}
                            <a href="{% url 'custom_accounts:login_modal' %}"><p>Log in to leave a comment</p></a>
                            <form id="commentForm" method="POST" style="display: none;">
                                {% csrf_token %}
                                {{ comment_form }}
                                <input type="hidden" id="edit-comment-id" name="comment_id" value="">
                                <div>
                                    <button id="submitButton" class="btn" type="submit">></button>
                                </div>
                            </form>
                            {% endif %}
                        </div>

                        <!-- Delete Comment Modal -->
                        <div id="delete-comment-modal" class="hidden">
                            <div class="modal-content">
                                <p>Are you sure you want to delete this comment?</p>
                                <div class="modal-actions delete-comment-modal-btns">
                                    <button id="confirm-delete-btn" class="btn danger">Delete</button>
                                    <button id="cancel-delete-btn" class="btn">Cancel</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Save to Board Modal -->
    <div id="save-to-board-modal" class="save-modal-hidden">
        <div class="save-modal-content">
            {% if user.is_authenticated %}
            <h3>Save Post to a Board</h3>
            <ul id="save-modal-board-list">
                {% for board in user_boards %}
                <li>
                    <button 
                        class="save-modal-board-btn" 
                        data-board-id="{{ board.id }}">
                        {{ board.title }}
                    </button>
                </li>
                {% empty %}
                <li class="save-modal-no-boards">No boards available.</li>
                {% endfor %}
            </ul>
            {% else %}
            <div>
                <a href="{% url 'custom_accounts:login_modal' %}"><p>Log in to save a post</p></a>
            </div>
            {% endif %}
            <div id="board-modal-buttons">
                <button id="close-save-modal" class="save-modal-close-btn btn">Cancel</button>
                {% if user.is_authenticated %}
                <button id="open-create-board-modal" class="btn save-modal-create-board-btn">Create Board</button>
                {% endif %}
            </div>
        </div>
    </div>

    {% if user.is_authenticated %}
    <!-- Create Board Modal -->
    <div id="create-board-modal" class="create-modal-hidden">
        <div class="create-modal-content">
            <h3>Create Board</h3>
            <div class="create-modal-body">
                <label for="board-title-input">Board Title:</label>
                <input type="text" id="board-title-input" placeholder="Enter board title">
                <div class="image-preview">
                    <img src="{{ post.image.url }}" alt="Post Image" id="post-image-preview" data-post-id="{{ post.id }}">
                </div>
            </div>
            <div class="create-modal-actions">
                <button id="cancel-create-board" class="create-modal-cancel-btn btn">Cancel</button>
                <button id="submit-create-board" class="create-modal-create-btn btn">Create</button>
            </div>
            <div id="board-error-message" class="error-message" style="color: red; display: none;"></div>
        </div>
    </div>

    <!-- Delete Confirmation Modal -->
    <div id="delete-post-modal" class="modal hidden">
        <div class="delete-post-modal-content">
            <h3 class="delete-post-modal-title">Are you sure you want to delete this post?</h3>
            <form action="{% url 'post_delete' post.id %}" method="POST">
                {% csrf_token %}
                <div class="delete-post-modal-actions">
                    <button type="submit" class="btn delete-post-confirm-btn danger">Delete</button>
                    <button type="button" id="cancel-delete-post-btn" class="btn delete-post-cancel-btn">Cancel</button>
                </div>
            </form>
        </div>
    </div>
    {% endif %}

    <!-- Message pop-up -->
    <div class="pop-up-message-overlay modal">
        <div class="pop-up-message-content">
            <p class="pop-up-message-text text-wrap">
                <!-- Message content -->
            </p>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
<script type="module" src="{% static 'js/comment.js' %}"></script>
<script type="module" src="{% static 'js/boards.js' %}"></script>
{% endblock %}