{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pinterest.exe</title>

    <!-- Custom CSS -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

</head>
<body>
    <div>
        <div id="border"></div>
        <div class="main-container">
            <!-- Navigation Bar -->
            <nav class="navigation-bar">
                <div class="nav-1">
                    <div class="nav-2 btn">
                        <div class="nav-3">
                            <a>
                                <img class="icon" src="/static/icons/icons8-home.svg">
                            </a>
                        </div>
                    </div>
                    <div class="nav-2 btn">
                        <div class="nav-3">
                            <a>
                                <img class="icon" src="/static/icons/icons8-home.svg">
                            </a>
                        </div>
                    </div>
                    <div class="nav-2 btn">
                        <div class="nav-3">
                            <a>
                                <img class="icon" src="/static/icons/icons8-home.svg">
                            </a>
                        </div>
                    </div>
                    <div class="nav-2 btn">
                        <div class="nav-3">
                            <a>
                                <img class="icon" src="/static/icons/icons8-home.svg">
                            </a>
                        </div>
                    </div>
                    <div class="nav-2 btn">
                        <div class="nav-3">
                            <a>
                                <img class="icon" src="/static/icons/icons8-home.svg">
                            </a>
                        </div>
                    </div>
                </div>
            </nav>

            <div class="image-grid">
                <div class="grid-item">
                  <a href=""><img src="https://s-media-cache-ak0.pinimg.com/736x/61/4f/1b/614f1b3a481f68b4d492f71c5fe3fc5f.jpg" /></a>
                </div>
                  
                <div class="grid-item">
                    <a href=""><img src="https://s-media-cache-ak0.pinimg.com/736x/1d/6f/2d/1d6f2d4fff0f0d4e83456c28b0645bbd.jpg" /></a>
                </div>
                  
                <div class="grid-item">
                  <a href=""><img src="/static/images/March GR Drop Conc 2 2.jpg" /></a>
                </div>

                <div class="grid-item">
                  <a href=""><img src="https://s-media-cache-ak0.pinimg.com/736x/61/4f/1b/614f1b3a481f68b4d492f71c5fe3fc5f.jpg" /></a>
                </div>
                  
                <div class="grid-item">
                  <a href=""><img src="https://s-media-cache-ak0.pinimg.com/736x/1d/6f/2d/1d6f2d4fff0f0d4e83456c28b0645bbd.jpg" /></a>
                </div>
                  
                <div class="grid-item">
                    <a href=""><img src="https://s-media-cache-ak0.pinimg.com/736x/61/4f/1b/614f1b3a481f68b4d492f71c5fe3fc5f.jpg" /></a>
                </div>

                <div class="grid-item">
                    <a href=""><img src="https://s-media-cache-ak0.pinimg.com/736x/61/4f/1b/614f1b3a481f68b4d492f71c5fe3fc5f.jpg" /></a>
                </div>

                <div class="grid-item">
                    <a href=""><img src="https://s-media-cache-ak0.pinimg.com/736x/61/4f/1b/614f1b3a481f68b4d492f71c5fe3fc5f.jpg" /></a>
                </div>
              </div>

            <div>

            </div>
        </div>
    </div>
    <h1>This is the home page 1</h1>
</body>
</html>