{% extends 'base.html' %} 
{% block content %}
{% load static %}
{% load crispy_forms_tags %}

<div id="image-detail-container">
    <div id="image-detail-container-inner">
        <div class="image-container">
            <img src="{{ post.image.url }}" alt="{{ post.title }}"/></a>
        </div>
        <div class="details-container">
            <div class="det-container-inner">
                <div>
                    <div>
                        <i class="fa-regular fa-heart"></i>
                        <i class="fa-solid fa-heart"></i>
                    </div>
                </div>
                <button class="btn detail-btn">Save</button>
            </div>
            <div class="det-container-inner">
                <div id="user-icon-container">
                    <div class="user-icon">
                        <div>
                            <a href="{% url 'profile_page' 'post.user_id'  %}"><img></a>
                        </div>
                    </div>
                    <div>
                        <a href="{% url 'profile_page' post.user_id %}">{{ post.user }}</a>    
                    </div>
                </div>
            </div>

            <div class="det-container-inner" style="flex-direction: column;">
                <!-- Display comments -->
                <div>
                    {% if comment_count == 0 %}
                    <h3>No comments yet</h3>
                    {% else %}
                    <h3>{{ comment_count }} Comments:</h3>
                    {% endif %}
                </div>
                <div>
                    {% for comment in comments %}
                    <div>
                        <p>{{ comment.author }}</p>
                        <p>{{ comment.created_on }}</p>
                        <span>{{ comment.body }}</span>
                    </div>
                    {% endfor %}
                </div>

                <!-- Creating New Comments -->
                <div id="comment-form-container">
                    {% if user.is_authenticated %}
                    <form id="commentForm" method="post">
                        {% csrf_token %}
                        {{ comment_form }}
                        <div>
                        <button id="submitButton" class="btn" type="submit">></button>
                        </div>
                    </form>
                    {% else %}
                    <p>Log in to leave a comment</p>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}