{% extends 'base.html' %} 
{% block content %}
{% load static %}
{% load crispy_forms_tags %}

<div id="image-detail-container">
    <div id="image-detail-container-inner">
        <div class="image-container">
            <img src="{{ post.image.url }}" alt="{{ post.title }}"/></a>
        </div>
        <div class="details-container">
            <div class="det-container-inner">
                <div class="btn detail-btn">
                    <div>
                        <a>
                            <img>
                        </a>
                    </div>
                </div>
                <button class="btn detail-btn">Save</button>
            </div>
            <div class="det-container-inner">
                <div class="btn detail-btn">
                    <div>
                        <a>
                            <img>
                        </a>
                    </div>
                </div>
                <button class="btn detail-btn">Follow</button>
            </div>
            <div class="det-container-inner">
                <div></div>
                <div>
                    <form>
                        
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}