{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pinterest.exe</title>

    <!-- Custom CSS -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

</head>
<body>
    <div>
        <div id="border"></div>
        <div class="main-container">
            <!-- Navigation Bar -->
            <nav class="navigation-bar">
                <div class="nav-1">
                    <div class="nav-2 nav-btn">
                        <div class="nav-3">
                            <a>
                                <img class="icon" src="/static/icons/icons8-home.svg">
                            </a>
                        </div>
                    </div>
                    <div class="nav-2 nav-btn">
                        <div class="nav-3">
                            <a>
                                <img class="icon" src="/static/icons/icons8-search.svg">
                            </a>
                        </div>
                    </div>
                    <div class="nav-2 nav-btn">
                        <div class="nav-3">
                            <a>
                                <img class="icon" src="/static/icons/icons8-plus.svg">
                            </a>
                        </div>
                    </div>
                    <div class="nav-2 nav-btn">
                        <div class="nav-3">
                            <a>
                                <img class="icon" src="/static/icons/icons8-message.svg">
                            </a>
                        </div>
                    </div>
                    <div class="nav-2 nav-btn">
                        <div class="nav-3">
                            <a>
                                <img class="icon" src="/static/icons/icons8-home.svg">
                            </a>
                        </div>
                    </div>
                </div>
            </nav>
            <div>
                {% block content %}
                <!-- Content Goes here -->
                {% endblock content %}       
            </div>
        </div>
    </div>
</body>
</html>