<script>
    resizeAllGridItems();
</script>
{% for post in created_posts %}
<div class="grid-item">
    <div class="item-content">
        <a class="grid-image" href="{% url 'post_detail' post.id %}">
            <img src="{{ post.image.url }}" alt="{{ post.title }}">
        </a>
    </div>
</div>

{% if forloop.last and created_posts.has_next %}
<div class="grid-item"
    hx-get="{% url 'created_pins' profile_user.username %}?page={{ created_posts.next_page_number }}"
    hx-trigger="revealed"
    hx-swap="afterend">
    <div class="item-content">
        <a class="grid-image" href="{% url 'post_detail' post.id %}">
            <img src="{{ post.image.url }}" alt="{{ post.title }}">
        </a>
    </div>
</div>
{% endif %}
{% endfor %}