{% load static %}
{% load custom_filters %}

<div class="boards-grid">
    {% for item in boards_with_images %}
    <div class="board-tile">
        <a href="{% url 'board_detail' item.board.id %}">
            <div class="tile-images">
                <!-- Large tile for the first image -->
                {% if item.images|length > 0 %}
                <div class="tile-image large">
                    <img src="{{ item.images.0.post_id.image.url|force_https }}?f_auto,q_auto,cacheControl=public,max-age=31536000"
                        alt="{{ item.images.0.post_id.title }}">
                </div>
                {% else %}
                <div class="tile-image large"></div>
                {% endif %}

                <!-- Small tile for the second image -->
                {% if item.images|length > 1 %}
                <div class="tile-image small">
                    <img src="{{ item.images.1.post_id.image.url|force_https }}?f_auto,q_auto,cacheControl=public,max-age=31536000"
                        alt="{{ item.images.1.post_id.title }}">
                </div>
                {% else %}
                <div class="tile-image small">
                    <div class="empty-fill"></div>
                </div>
                {% endif %}

                <!-- Small tile for the third image -->
                {% if item.images|length > 2 %}
                <div class="tile-image small">
                    <img src="{{ item.images.2.post_id.image.url|force_https }}?f_auto,q_auto,cacheControl=public,max-age=31536000"
                        alt="{{ item.images.2.post_id.title }}">
                </div>
                {% else %} 
                <div class="tile-image small">
                    <div class="empty-fill"></div>
                </div>
                {% endif %}
            </div>
            <h4>{{ item.board.title }}</h4>
            <span class="number-of-pins">{{ item.image_count }} Pins</span>
        </a>
    </div>
    {% empty %}
    <p>No boards available.</p>
    {% endfor %}
</div>
