{% extends 'base.html' %} 
{% load static %}
{% url 'account_logout' as logout_url %}

{% block content %}
<div id="profile-page-container">

    <div class="p-con">
        <div id="profile-user-icon"></div>
    </div>

    <div class="p-con">
        <h3 id="pp-username">{{ profile.user }}</h3>
    </div>

    {% if user.is_authenticated and user == profile.user %}
    <div class="p-con">
        <div>
            <button class="btn pp-btn">Edit Profile</button>
        </div>
        <div>
            <a href="{% url 'account_logout' %}">
                <button class="btn pp-btn">Log-out</button>
            </a>
        </div>
        <div></div>
    </div>
    {% endif %}


    <div class="p-con">
        <div>
            <div>
                <button class="btn pp-btn" 
                        id="created-btn"
                        hx-get="{% url 'created_pins' profile.user.username %}?page=1" 
                        hx-target="#created-container" 
                        hx-swap="innerHTML">
                    Created
                </button>
                <button class="btn pp-btn">Saved</button>
            </div>
        </div>
    </div>

    <div class="p-con">
        <div class="image-grid" id='created-container' data-username="{{ profile.user.username }}">
            {% include 'profile_page/created_pins.html' %}
        </div>
    </div>
    
</div>


{% endblock %}

{% block scripts %} 
    <script src="{% static 'js/profile_page_js.js' %}"></script>
    <script src="{% static 'js/app.js' %}"></script>
{% endblock %}