{% extends 'base.html' %} 
{% load static %}
{% load custom_filters %}
{% url 'account_logout' as logout_url %}

{% block content %}
<div class="PaLe">
    <div id="profile-page-container">

        <div class="p-con">
            <div id="profile-user-icon"
                style="background-image: url('{{ profile.profile_image.url|force_https }}?f_auto,q_auto,cacheControl=public,max-age=31536000'); 
                        background-size: cover; 
                        background-position: center;">
            </div>
        </div>

        <div class="p-con user-profile-info">
            <div>
                <h3 id="pp-username">{{ profile.user }}</h3>
            </div>
            {% if profile.first_name or profile.last_name %}
            <div>
                <h4 id="user-full-name">
                    {{ profile.first_name }} {{ profile.last_name }}
                </h4>
            </div>
            {% endif %}
            {% if profile.about %}
            <div>
                <p id="pp-about">{{ profile.about }}</p>
            </div>
            {% endif %} 
        </div>

        {% if user.is_authenticated and user == profile.user %}
        <div class="p-con">
            <div>
                <button id="edit-profile-btn" class="btn pp-btn">Edit Profile</button>
            </div>
            <div>
                <form method="POST" action="{% url 'custom_accounts:logout' %}" id="logout-form">
                    {% csrf_token %}
                    <button id="logout-button" class="btn">Log out</button>
                </form>
            </div>
        </div>
        {% endif %}


        <div class="p-con">
            <div>
                <button class="btn pp-btn active" 
                        id="saved-btn" 
                        hx-get="{% url 'image_boards' profile.user.username %}" 
                        hx-target="#saved-container" 
                        hx-swap="innerHTML">
                    Saved
                </button>
                <button class="btn pp-btn" 
                        id="created-btn" 
                        hx-get="{% url 'created_pins' profile.user.username %}?page=1" 
                        hx-target="#created-container" 
                        hx-swap="innerHTML">
                    Created
                </button>
            </div>
        </div>

        <!-- Created Posts Section -->
        <div class="p-con" id="boards-container">
            <div class="hidden" id='created-container' data-username="{{ profile.user.username }}">
            </div>

            <!-- Saved Posts section -->
            <div class="" id='saved-container'
                hx-get="{% url 'image_boards' profile.user.username %}"
                hx-trigger="load"
                hx-target="this"
                hx-swap="innerHTML">
            </div>
        </div>
    </div>
</div>

{% if user.is_authenticated and user == profile.user %}
<!-- Edit Profile Modal -->
<div id="edit-profile-modal" class=> 
    <div id="edit-profile-modal-content" class="modal-content">
        <form id="edit-profile-form" method="POST" enctype="multipart/form-data" action="{% url 'edit_profile' %}">
            {% csrf_token %}
            <h3>Edit Profile</h3>
            <label for="first_name">First Name:</label>
            <input type="text" 
                id="first_name" 
                name="first_name" 
                value="{{ profile.first_name }}"
                maxlength="100">
            
            <label for="last_name">Last Name:</label>
            <input type="text" 
                id="last_name" 
                name="last_name" 
                value="{{ profile.last_name }}"
                maxlength="100">

            <label for="about">About:</label>
            <textarea id="about" name="about" maxlength="600">{{ profile.about }}</textarea>

            <!-- Image preview -->
            <div id="image-preview-container">
                <img id="profile-image-preview" src="{{ profile.profile_image.url }}" alt="Profile Preview">
            </div>

            <label for="profile_image">Profile Image:</label>
            <input type="file" id="profile_image" name="profile_image">

            <button type="submit" class="btn">Save</button>
            <button type="button" id="cancel-edit-profile-btn" class="btn">Cancel</button>
            <br>
            <a class="btn" href="{% url 'account_change_password' %}">Change Password</a>
        </form>
    </div>
</div>
{% endif %}

<!-- Message pop-up -->
<div class="pop-up-message-overlay modal">
    <div class="pop-up-message-content">
        <p class="pop-up-message-text text-wrap">
            <!-- Message content -->
        </p>
    </div>
</div>

{% endblock %}

{% block scripts %} 
    <script type="module" src="{% static 'js/profile_page_js.js' %}"></script> 
    <script src="{% static 'js/masonry.js' %}"></script>
{% endblock %}